<!--Default Lowerthird-->
<section id="lt-default" class="m_lowerthird">
    <div class="m_box">
        <span class="tlogo"></span>
    </div>
    <div class="m_container">
        <div class="m-inner">
            <span class="m-innerboxes">
                <div class="m-innerbox">

                </div>
                <div class="m-innerbox2">

                </div>
            </span>
            <div class="m-content">
                <div class="m-content-inner">
                    <div class="m-name">
                        <div id="m-name-inner" class="m-name-inner">
                            Name
                        </div>
                    </div>

                </div>

            </div>
            <div class="m-function">
                <div id="m-function-inner" class="m-function-inner">
                    Function
                </div>
            </div>
        </div>
    </div>
</section>